<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
 
Copyright 2008 University of Oxford 
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
   http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
 
-->

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	 version="2.4">

	<display-name>Simal Web</display-name>

	<filter>
		<filter-name>wicket.uk.ac.osswatch.simal.wicket</filter-name>
 		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>uk.ac.osswatch.simal.wicket.UserApplication</param-value>
 		</init-param>
 	</filter>

 <filter-mapping>
  <filter-name>wicket.uk.ac.osswatch.simal.wicket</filter-name>
	<url-pattern>/*</url-pattern>
 </filter-mapping>

  <!-- The Joseki SPARQL servlet -->

  <servlet>
    <servlet-name>SPARQL service processor</servlet-name>
    <servlet-class>org.joseki.http.Servlet</servlet-class>

    <!-- Configuration file -->
    <init-param>
      <param-name>org.joseki.rdfserver.config</param-name>
      <param-value>joseki-config.ttl</param-value>
    </init-param>

  </servlet>

  <!-- Validator -->

  <servlet>
    <servlet-name>Validator</servlet-name>
    <servlet-class>
      org.joseki.validator.Validator
    </servlet-class>
  </servlet>

  <!-- Well-known servlets for testing -->

  <servlet>
    <servlet-name>Dumper</servlet-name>
    <servlet-class>
      org.joseki.servlets.DumpServlet
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DumpBody</servlet-name>
    <servlet-class>
      org.joseki.servlets.DumpBodyServlet
    </servlet-class>
  </servlet>

  <!-- end The Joseki SPARQL servlet -->


  <!-- Simal REST API -->
  <servlet>
      <servlet-name>Simal REST API</servlet-name>
      <servlet-class>uk.ac.osswatch.simal.rest.RESTServlet</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>Simal REST API</servlet-name>
      <url-pattern>/simal-rest/*</url-pattern>
  </servlet-mapping>

  <!-- Demo service -->

  <servlet-mapping>
    <servlet-name>SPARQL service processor</servlet-name>
    <url-pattern>/joseki/sparql/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SPARQL service processor</servlet-name>
    <url-pattern>/joseki/sparql</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SPARQL service processor</servlet-name>
    <url-pattern>/joseki/service/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Validator</servlet-name>
    <url-pattern>/joseki/validator</url-pattern>
  </servlet-mapping>

  <!-- A few utilities -->

  <servlet-mapping>
    <servlet-name>Dumper</servlet-name>
    <url-pattern>/joseki/dump</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DumpBody</servlet-name>
    <url-pattern>/joseki/dump-body</url-pattern>
  </servlet-mapping>


</web-app>
