<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright 2007 University of Oxford

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<?eclipse version="3.0"?>
<plugin>
  <extension
      id="org.eclipse.rap.demo.demoentrypoint"
      point="org.eclipse.rap.ui.workbench.entrypoint">
    <entrypoint
        class="uk.ac.osswatch.simal.webGUI.AdminWorkbench"
        parameter="default"/>
  </extension>
  
  <extension
      point="org.eclipse.ui.perspectives">
    <perspective
        name="Project Perspective"
        class="uk.ac.osswatch.simal.webGUI.ProjectPerspective"
        id="uk.ac.osswatch.simal.webGUI.projectPerspective">
    </perspective>
  </extension>
  
  <extension point="org.eclipse.ui.views"> 
      <!-- category 
         id="com.xyz.views.XYZviews" 
         name="XYZ"/--> 
      <view
            class="uk.ac.osswatch.simal.webGUI.controls.ProjectTreeViewPart"
            icon="icons/project.gif"
            id="uk.ac.osswatch.simal.webGUI.ProjectTreeViewPart"
            name="Projects"/> 
      <view
            class="uk.ac.osswatch.simal.webGUI.controls.ContributorTreeViewPart"
            icon="icons/contributor.gif"
            id="uk.ac.osswatch.simal.webGUI.ContributorTreeViewPart"
            name="Contributor"/> 
      <view
            class="uk.ac.osswatch.simal.webGUI.controls.EventTreeViewPart"
            icon="icons/event.gif"
            id="uk.ac.osswatch.simal.webGUI.EventTreeViewPart"
            name="Event"/> 
      <view
            class="uk.ac.osswatch.simal.webGUI.controls.ProjectEditorViewPart"
            icon="icons/project.gif"
            id="uk.ac.osswatch.simal.webGUI.ProjectEditorViewPart"
            name="Project"/> 
      <view
            class="uk.ac.osswatch.simal.webGUI.controls.BrowserViewPart"
            icon="icons/internal_browser.gif"
            id="uk.ac.osswatch.simal.webGUI.BrowserViewPart"
            name="Browser"/>
      <view
            class="uk.ac.osswatch.simal.webGUI.controls.ContributorEditorViewPart"
            icon="icons/contributor.gif"
            id="uk.ac.osswatch.simal.webGUI.controls.ContributorEditorViewPart"
            name="Contributor"/>
      <view
            class="uk.ac.osswatch.simal.webGUI.controls.EventEditorViewPart"
            icon="icons/event.gif"
            id="uk.ac.osswatch.simal.webGUI.controls.EventEditorViewPart"
            name="Event"/>
      <view
            class="uk.ac.osswatch.simal.webGUI.controls.LanguageEditorViewPart"
            icon="icons/language.gif"
            id="uk.ac.osswatch.simal.webGUI.controls.LanguageEditorViewPart"
            name="Language"/>
      <view
            class="uk.ac.osswatch.simal.webGUI.controls.LanguageTreeViewPart"
            icon="icons/language.gif"
            id="uk.ac.osswatch.simal.webGUI.LanguageTreeViewPart"
            name="Language"/>  
   </extension> 
  
</plugin>
