<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Simal REST API</display-name>
  
  <servlet>
      <servlet-name>Simal REST API</servlet-name>
      <servlet-class>uk.ac.osswatch.simal.rest.RESTServlet</servlet-class>
  </servlet>

  <servlet-mapping>
      <servlet-name>Simal REST API</servlet-name>
      <url-pattern>/simal-rest/*</url-pattern>
  </servlet-mapping>

</web-app>
